extends global/master
include includes/box

block content
    .col-md-12
        h1= activeProject.name
        if (message.error)
            .alert.alert-danger
                p= message.error
        if (message.info)
            .alert.alert-success
                p= message.info
        .row
            .col-md-12
                h3= 'Applications'
                if (apps)
                    each app in apps 
                        .col-sm-6.col-lg-3
                            +box("NodeJS", `${app.name}`, `/node?project=${app.projectid}&id=${app.id}`)
                .col-sm-6.col-lg-3
                    .box.box-default
                        .box-header.with-border
                            h3.box-title Add New
                        .box-body.text-center
                            a(href="#", data-toggle="modal" data-target="#createApplicationModal") Create Application
        .row
            .col-md-12
                h3= 'Databases'
                if (dbs)
                    each db in dbs
                        .col-sm-6.col-lg-3
                            +box("Databases", `${db.name}`, `/databases?project=${db.projectid}&id=${db.id}`)
                .col-sm-6.col-lg-3
                    .box.box-default
                        .box-header.with-border
                            h3.box-title Add New
                        .box-body.text-center
                            a(href="#", data-toggle="modal" data-target="#createDatabaseModal") Create Database
