extends global/master

block content
    h1 Settings
    .row
        .col-md-12
            if (message.error)
                .alert.alert-danger
                    p= message.error
            if (message.info)
                .alert.alert-success
                    p= message.info
            .box.box-info
                .box-header.with-border
                    a(href=link)
                        h3.box-title= 'Change ftp access'
                    .box-body
                        p Connect to: localhost
                        p Username: u_23225
                        form.form-horizontal
                            .form-group
                                label.control-label.col-sm-2(for='inputOldPassword') Old password
                                .col-sm-10
                                    input.form-control(type='password' id='inputOldPassword')
                            .form-group
                                label.control-label.col-sm-2(for='inputNewPassword') New password
                                .col-sm-10
                                    input.form-control(type='password' id='inputNewPassword')
                            .form-group
                                label.control-label.col-sm-2(for='inputNewPassword2') Repeat new password
                                .col-sm-10
                                    input.form-control(type='password' id='inputNewPassword2')
                        .btn.btn-primary Change
    .row
        .col-md-12
            .box.box-info
                .box-header.with-border
                    h3.box-title= 'Add Participant'
                    .box-body
                        form.form-horizontal(action="/api/addparticipant", method="post")
                            .form-group.has-feedback
                                label.control-label.col-sm-2 Name
                                .col-sm-10
                                    input.form-control#inputFirstName(type="text", name="matrnr" placeholder="Matrikelnummer", required)
                                    span.fa.fa-id-card-o.form-control-feedback
                            .row
                                .col-xs-4
                                    button.btn.btn-primary.btn-blockbtn-flat(type="submit" name="id" value=`${activeProject.id}`) Add
    .row
        .col-md-12
            .box.box-info
                .box-header.with-border
                    h3.box-title= 'Remove Participant'
                    .box-body
                        form.form-horizontal(action="/api/removeparticipant", method="post")
                            .form-group.has-feedback
                                label.control-label.col-sm-2 Name
                                .col-sm-10
                                    input.form-control#inputFirstName(type="text", name="matrnr" placeholder="Matrikelnummer", required)
                                    span.fa.fa-id-card-o.form-control-feedback
                            .row
                                .col-xs-4
                                    button.btn.btn-primary.btn-blockbtn-flat(type="submit" name="id" value=`${activeProject.id}`) Remove
    .row
        .col-md-12
            .box.box-info
                .box-header.with-border
                    h3.box-title= 'Change this projects name'
                    .box-body
                        form.form-horizontal(action="/api/changeprojectname", method="post")
                            .form-group.has-feedback
                                label.control-label.col-sm-2 Name
                                .col-sm-10
                                    input.form-control#inputFirstName(type="text", name="newname" placeholder=`${activeProject.name}`, required)
                                    span.fa.fa-id-card-o.form-control-feedback
                            .row
                                .col-xs-4
                                    button.btn.btn-primary.btn-blockbtn-flat(type="submit" name="id" value=`${activeProject.id}`) Change Name
    .row
        .col-md-12
            .box.box-info
                .box-header.with-border
                    .box-body
                        button.btn.btn-danger.btn-blockbtn-flat(type="submit" class="deleteproject" data-id=`${activeProject.id}`) Delete

